.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #dc143c;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
h1 {
  color: yellow; /* Texto azul */
  text-shadow: 2px 2px 0 blue, -2px -2px 0 blue, 2px -2px 0 blue,
    -2px 2px 0 blue, 2px 0 0 blue, 0 2px 0 blue, -2px 0 0 blue, 0 -2px 0 blue,
    1px 1px 0 blue, -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue;
}
